*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(134,34%,134,34% at 50% 0%,#1f3757 0%,#131537 100%);
}










































