* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,19,41,1) 72%, rgba(20,20,41,1) 76%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.scoreboard{
    width: 700px;
    height: 150px;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.scoreboard .title {
    margin-left: 30px;
}

.score{
    width: 150px;
    height: 114px;
    background-color: #fff;
    border-radius: 6px;
    margin-right: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1{
    color:#565468
}

.score p{
    color: #2a45c2;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
}

.hands{
    background-image: url(./assets/triangle.png);
    background-repeat: no-repeat;
    width: 476px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-position: center;
}

.hands .scissors{
    margin-left: 20px;
}

.hands .paper{
    margin-right: 20px;
}

.hands .hand{
    cursor: pointer;
    transition: all 0.25s;
}

.hands .hand:hover{
    transform: translate3d(0px,-8px,0px);
}

/* contest */
.contest {
    display: none;
    margin-top: 50px;
    width: 900px;
  }
  
  .contest img {
    width: 275px;
    height: 275px;
  }
  
  .contest > div {
    flex: 1;
  }
  
  .contest h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .contest .newGame {
    color: hsl(229, 25%, 31%);
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s;
  }
  
  .newGame:hover {
    background: rgb(218, 218, 218);
    transform: translate3d(0px, -2px, 0px);
  }
  
  .contest .handImageContainer {
    display: flex;
    justify-content: center;
  }
  
  .referee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .referee h1 {
    font-size: 45px;
    color: white;
  }
  
  .computerhand {
    display: flex;
    flex-direction: column;
  }



















































