* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main {
  background-color: #f9f9f9;
}

#title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#main .leand {
  text-align: center;
  font-size: 1.1rem;
}

#img_div > img {
    width: 100%;
}
#img_div {
  max-width: 1000px;
  margin: 2rem auto;
}

#main .image_caption {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

#main #image-info {
  max-width: 600px;
  margin: auto;
}

#image-info > h2{
    text-align: center;
    margin: 3rem auto;
}


#image-info ul li{
    margin: 1.1rem 0;
}

#image-info ul{
    margin: 2.5rem 0;
}

.small-p{
    margin-top: 2rem;
}

.lear_more{
    font-size: 1.5rem;
    text-align: center;
    font-size: bold;
}


